body {
background:#f2f2f2;
font-family:Arial;
}

.box {
width:350px;
margin:80px auto;
background:white;
padding:25px;
border-radius:10px;
box-shadow:0 0 10px gray;
text-align:center;
}

input {
width:90%;
padding:8px;
}

button {
padding:10px;
width:100%;
background:#007bff;
color:white;
border:none;
border-radius:5px;
}
button:hover {
background:#0056b3;
}
